* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 100%;
  height: auto;
}

/* TOP BAR */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
  background: #ffffff;
  text-align: center;
  padding-bottom: 10px;
  
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #2ecc71;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logo span {
  color: #333;
}

.top-right {
  color: #555;
}

/* NAVBAR */
.navbar {
  background: #222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 15px 0;
  display: inline-block;
  position: relative;
  transition: color 0.3s ease;
}

/* Hover effect */
.navbar ul li a:hover {
  color: #2ecc71;
}

/* HERO SECTION */
.hero {
  height: 85vh;
  background: url("american-public-power-association-513dBrMJ_5w-unsplash.jpg") center/cover no-repeat;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.hero-text h1 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  transition: transform 0.4s ease, color 0.4s ease;
}

.hero-text p {
  font-size: 20px;
  color: #ddd;
}

/* Hover zoom + color */
.hero-text:hover h1 {
  transform: scale(1.1);
  color: #2ecc71;
}

section {
  scroll-margin-top: 120px; /* height of navbar */
}


/* PROJECTS SECTION */
.page3 {
  background: #2b2b2b;
  padding: 100px 20px;
  text-align: center;
}

.page3 h2 {
  font-size: 42px;
  margin-bottom: 20px;
  color: white;
}

.page3 p {
  max-width: 700px;
  margin: 0 auto 50px;
  color: white
}

.projects-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background: #f4f4f4;
  padding: 30px;
  width: 260px;
  border-radius: 12px;
  color: #555;
}

/* PROJECTS IMAGE GALLERY */
.projects-gallery {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap; /* responsive */
}

.project-img {
  width: 300px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgb(0, 0, 0);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.project-img img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* Hover effect */
.project-img:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.project-img:hover img {
  transform: scale(1.1);
}

.points{
    color: #2ecc71;
}

.project-text{

    color: white;
}

/* ===========================
   RESPONSIVE DESIGN
   =========================== */

@media (max-width: 768px) {

  /* NAVBAR */
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  /* ABOUT & CONTACT BOX */
  .about-container,
  .contact-container {
    margin: 30px 15px;
    padding: 25px;
  }

  /* HEADINGS */
  .about-container h1,
  .contact-container h1 {
    font-size: 28px;
  }

  /* TEXT */
  .about-container p,
  .contact-container p {
    font-size: 15px;
  }

  /* FORM INPUTS */
  input,
  textarea,
  button {
    font-size: 15px;
  }
}

